.chat-main{
  width: calc(100vw - 300px);
  background-image: url("https://d1f5hsy4d47upe.cloudfront.net/91/91a2b0e35b14eb4099b36a755ef53e27_t.jpeg");
  background-size: cover;
  padding-left: 20px;

  &__image{
    display: block;
    margin:100px auto 0;
    width: 700px;
    height: 500px;
  }

  &__edit{
    display: block;
    margin-left: 10px;
    &__form{
      color:white;
      font-size: 20px;
    }
  }

  &__header{
    color: white;
  }

  &__root{
    margin-top: 20px;
    color: white;
    font-size: 20px;
  }

  &__post{
    margin-left: 20px;
    margin-top: 100px;
    &__title{
      font-size: 30px;
      color: white;
    }
  }

  &__main{
    &__content{
      color: white;
    }
    &__image{
      margin-top: 20px;
      &__font{
      display: block;
      margin-left: 40px;
      }
    }
  }

}
.like{
  display: block;
  &__btn{
    color: #57C3E9;
    border: solid 3px;
    font-size: 20px;
    background-color: white;
    border-radius:10px;
    display: block;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    margin-left: auto;
    margin-right: 300px;
    margin-top: 20px;
    &__like{
      color: #57C3E9;
    border: solid 3px;
    font-size: 20px;
    background-color: blue;
    border-radius:10px;
    display: block;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    margin-left: auto;
    margin-right: 300px;
    margin-top: 20px;
    }
  }
}