.option{
  width: 250px;
}
.color > a{
  display: inline-block;
  width: 20px;
  height: 20px;
}
.black{
  background-color: #000000;
}
.red{
  background-color: #ff0000;
}
.blue{
  background-color: #0000ff;
}
.white{
  border: solid 1px;
}
#download{
  border: solid 1px;
}