.wrapper{
  display: flex;
}
.fa{
  display: inline-block;
}
.side_ber{
  height: 100vh;
  width: 300px;
  background-color: #a59b9b;
  &__categorys{
    overflow: scroll;
    margin: 10px auto;
    color: white;
    margin-top:20px;
    &__category{
      &__titles{
        font-size: 30px;
        margin-left: 20px;
        &__title{
          font-size: 30px;
          color: white;
        }
        &__post{
          font-size: 20px;
          margin-left: 20px;
          &__title{
            color: peachpuff;
          }
        }
      }
    }
  }
  &__category{
    overflow: scroll;
    margin: 10px auto;
    color: white;
    margin-top:20px;
    &__title{
      font-size: 30px;
    }
    &__post{
      font-size: 20px;
      margin-left: 20px;
    }
  }
}

